<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mentorSQL">
	<insert id="mentorapplyWrite" parameterType="Map">
		insert into mentor(mentor_seq,
						mentor_company,
						mentor_department,
						mentor_position,
						job_code,
						mentor_school,
						mentor_career,
						mentoring_code,
						mentor_represent,
						mentor_info,
						mentor_etc,
						mentor_email,
						mentor_selectNaming,
						mentor_businesscard,
						mentor_logtime) values(mentor_seq.nextval,
											#{mentor_company},
											#{mentor_department},
											#{mentor_position},
											#{job_code},
											#{mentor_school},
											#{mentor_career},
											#{mentoring_code},
											#{mentor_represent},
											#{mentor_info},
											#{mentor_etc},
											#{mentor_email},
											#{mentor_selectNaming},
											#{mentor_businesscard},
											sysdate)
	</insert>
	<select id="getEmail" parameterType="String" resultType="mentor">
		select * from mentor where mentor_email = #{member_email}
	</select>
	
	<select id="getMentorList" parameterType="Map" resultType="mentor">
		select * from(select rownum rn, tt.* from
                    (select mt.*
                    		, mb.member_name
                            , mb.member_seq
                            , mb.member_profile
                            , j.job_type
            from mentor mt, job j, mentors_member mb where mt.mentor_email = mb.member_email and j.job_code = mt.job_code and mentor_flag = #{mentor_flag} order by mt.mentor_seq desc)tt) 
		where rn between #{startNum} and #{endNum}
	</select>
	<select id="getTotalA" parameterType="int" resultType="int">
		select count(*) from mentor where mentor_flag = #{mentor_flag}
	</select>
	<select id="getMentor_info" parameterType="int" resultType="mentor">
		select 
		mb.member_name
		, mb.member_nickname
        , mb.member_profile
        , j.job_type
        , mentor_seq
        , mentor_email
        , mentor_company
        , mentor_department
        , mentor_represent
        , mentoring_code 
		from job j, mentor mt,  mentors_member mb 
		where j.job_code = mt.job_code and mt.mentor_email = mb.member_email and mentor_seq = #{seq}
	</select>
	<select id="getMentoring_code" parameterType="Map" resultType="mentor">
		select mentoring_type from mentoring where mentoring_code in 
		<foreach collection="mentoring_code" index="index" item="mentoring_code" open="(" separator="," close=")">
			#{mentoring_code}
		</foreach>
	</select>
	<insert id="mentorQuestionsSuccess" parameterType="Map">
		insert into question(question_seq,
							 mentor_seq,
							 member_email,
							 question_title,
							 question_content,
							 question_logtime) values(question_seq.nextval, 
							 							#{mentor_seq}, 
							 							#{member_email}, 
							 							#{question_title}, 
							 							#{question_content}, 
							 							sysdate)
	</insert>

	
	<!-- 멘토 에세이 리스트 -->
	<select id="getMentorEssayList" parameterType="int" resultType="mentor">
		select e.essayboard_title, e.essayboard_content, e.essayboard_scrap, e.essayboard_logtime, e.essayboard_seq, mm.member_seq
		from essayboard e, mentor mt, mentors_member mm
		where e.mentor_email = mt.mentor_email and mm.member_email = e.mentor_email and mm.member_seq = ${mentor_seq}
		order by essayboard_logtime desc
	</select>
	<!-- 고맙습니다 리스트 -->
	<select id="getMentorReviewList" parameterType="int" resultType="review">
		select rv.review_seq, rv.review_content, rv.review_date, mm1.member_name as mentor_name, mm2.member_name as mentee_name, mm2.member_profile, rv.mentee_email, rv.review_flag
		from meeting_review rv, mentors_member mm1, mentors_member mm2, meetingboard m
		where rv.meetingboard_seq = m.meetingboard_seq
			and rv.mentee_email = mm2.member_email
			and mm1.member_email = m.mentor_email
			and mm1.member_seq = ${mentor_seq}
		order by rv.review_date desc
	</select>
	<!-- 멘토 정보 시리얼 번호 이용 -->
	<select id="getMentorInfomation" parameterType="int" resultType="mentor">
		select mt.*, mm.member_name, mm.member_profile, mm.member_email, mt.mentor_seq,j.job_type
		from mentor mt, mentors_member mm, job j
		where mt.mentor_email = mm.member_email and j.job_code = mt.job_code and mm.member_seq = ${mentor_seq}
  	</select>

	<select id="getQuestion_flag" parameterType="Map" resultType="mentor">
		select question_flag, question_seq from question where mentor_seq = #{mentor_seq} and member_email = #{member_email}
	</select>
	
	<select id="questionModifyForm" parameterType="int" resultType="mentor">
		select * from question where question_seq = #{qsseq}
	</select>
	
	<update id="questionModify" parameterType="Map">
		update question set question_title = #{question_title}, question_content = #{question_content}, question_logtime = sysdate where question_seq = #{question_seq}
	</update>
	
	<select id="getFollowCheck" parameterType="Map" resultType="int">
		select count(*) from mentorFollow where follower_email = #{memEmail} and followed_email = #{mentorEmail}
	</select>
	
	<insert id="mentorFollowInsert" parameterType="mentorFollow" >
		insert into mentorFollow (follower_email,followed_email) values(#{follower_email},#{followed_email})
	</insert>
	<delete id="mentorFollowDelete" parameterType="mentorFollow" >
		delete from mentorFollow where follower_email = #{follower_email} AND followed_email = #{followed_email}
	</delete>
	<!-- 관심 멘토 리스트 -->
	<select id="getMentorAttentionList" parameterType="Map" resultType="mentor">
		select * from
		    (select rownum rn, tt.* from
		        (select mt.mentor_seq, mb.member_name, mb.member_profile,mt.mentor_company, mt.mentor_department, 
				    j.job_type, mentor_school, mentor_career, mentoring_code, mentor_represent, mentor_info, mentor_etc, mentor_email, 
				    mentor_selectNaming, mentor_businesscard, mentor_badge, mentor_flag, mentor_logtime from mentor mt, job j, mentors_member mb , mentorFollow mf
		            where mt.mentor_email = mb.member_email and j.job_code = mt.job_code and mf.followed_email = mt.mentor_email and mentor_flag = #{mentor_flag,jdbcType=INTEGER} and mf.follower_email = #{memEmail,jdbcType=VARCHAR}
		            order by mt.mentor_seq desc)tt)
	</select>
	
	<select id="getHonorMentor" parameterType="Map" resultType="mentor">
			select * from(select rownum rn, tt.* from
                    (select mb.member_name
                            , mb.member_seq
                            , mb.member_profile
                            , j.job_type
                            , mt.*
            from mentor mt, job j, mentors_member mb where mt.mentor_email = mb.member_email and j.job_code = mt.job_code and mentor_badge = #{mentor_badge} and mentor_flag = #{mentor_flag} order by mt.mentor_seq desc)tt) 
		where rn between #{startNum} and #{endNum}
	</select>
	
	<select id="getJobCode" parameterType="Map" resultType="int">
		select count(*) from(select mt.*
							, mb.member_name
                            , mb.member_seq
                            , mb.member_profile
                            , j.job_type
            from mentor mt, job j, mentors_member mb 
            where mt.mentor_email = mb.member_email and j.job_code = mt.job_code and mentor_flag = #{mentor_flag} 
            <if test='flag == "0"'>
            	order by mt.mentor_logtime desc 
            </if> 
            <if test='flag == "1"'>
            	and mt.mentor_badge > 0
            </if>
            )
            where job_code in
             <foreach collection="job_code" item="job_code" index="index" separator="," open="(" close=")">
                  	#{job_code, jdbcType=VARCHAR}
             </foreach>
	</select>
	
	<select id="getJobType" parameterType="Map" resultType="mentor">
		select * from(select rownum rn, tt.* from(select mt.*
												, mb.member_name
					                            , mb.member_seq
					                            , mb.member_profile
					                            , j.job_type
		from mentor mt, job j, mentors_member mb 
           where mt.mentor_email = mb.member_email and j.job_code = mt.job_code and mentor_flag = #{mentor_flag}
           <if test='flag == "0"'>
              	ORDER BY mt.mentor_logtime DESC
           </if>
           <if test='flag == "1"'>
           		AND mt.mentor_badge > 0 
           </if>
           )tt
           where job_code in
         <foreach collection="job_code" item="job_code" index="index" separator="," open="(" close=")">
        	  #{job_code, jdbcType=VARCHAR}
       	 </foreach>
         )
       <![CDATA[ 
              where rn >= #{startNum, jdbcType=INTEGER} and rn<= #{endNum, jdbcType=INTEGER}
       ]]>
	</select>
	
	<select id="getMemberCount" parameterType="int" resultType="int">
		select count(*) from mentor where mentor_flag = ${mentorFlag}
	</select>
	
	<select id="getMentor" parameterType="Map" resultType="mentor">
		select * from(select rownum rn, tt.* from
                    (select mt.*
                    		, mb.member_name
                            , mb.member_seq
                            , mb.member_profile
                            , j.job_type
            from mentor mt, job j, mentors_member mb where mt.mentor_email = mb.member_email and j.job_code = mt.job_code and mentor_flag = #{mentor_flag} order by mt.mentor_seq desc)tt) 
		where rn between #{startNum} and #{endNum}
	</select>
	<select id="getAnswer" parameterType="int" resultType="int">
		select count(*) from mentor mt, mentors_member mm, question qs where mt.mentor_email = mm.member_email and qs.mentor_seq = mt.mentor_seq and mm.member_seq = #{mentor_seq} and qs.question_flag = 1
	</select>
	
	<select id="getQuestion" parameterType="int" resultType="int">
		select count(*) from mentor mt, mentors_member mm, question qs where mt.mentor_email = mm.member_email and qs.mentor_seq = mt.mentor_seq and mm.member_seq = #{mentor_seq}
	</select>
	
	<update id="mentorInfoModify" parameterType="Map">
		update mentor set mentor_company = #{mentor_company}
						, mentor_department = #{mentor_department}
						, mentor_position = #{mentor_position}
						, job_code = #{job_code}
						, mentor_school = #{mentor_school}
						, mentor_career = #{mentor_career}
						, mentoring_code = #{mentoring_code}
						, mentor_represent = #{mentor_represent}
						, mentor_info = #{mentor_info}
						, mentor_etc = #{mentor_etc}
						, mentor_selectnaming = #{mentor_selectNaming}
					<if test="mentor_businesscard != null">
						, mentor_businesscard = #{mentor_businesscard}
					</if>
						where mentor_email = #{mentor_email}
	</update>
	
	<select id="getFollow" parameterType="Integer" resultType="Integer" >
		select count(*) 
	    from mentorFollow mf ,mentors_member mm, mentor mt
	    where mf.followed_email = mt.mentor_email
	    and mt.mentor_email = mm.member_email
	    and mm.member_seq = #{mentor_seq}
	</select>
	
	<select id="mentee_student" parameterType="String" resultType="int">
		select count(*) from menteestudent_profile where menteestudent_email = #{member_email}
	</select>
	
	<select id="mentee_employee" parameterType="String" resultType="int">
		select count(*) from menteeemployee_profile where menteeemployee_email = #{member_email}
	</select>
</mapper>