@charset "UTF-8";

#dialog-background {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 10;
}
#my-dialog {
    display: none;
    position: fixed;
    left: calc( 50% - 190px ); top: calc( 35% - 70px );
    background: #fff;
    z-index: 11;
    padding: 10px;
}