@charset "UTF-8";

.item-inner {
	margin-right : 1100px;
	margin-top : 15px;
}

#boardListMain_div{
    width: 100%;
    margin: 0;
    padding: 0;
}

#main_div{
   /* overflow: hidden; */
   
    width: 100%;
    margin: auto;
}

#mainImage_div{
   border: 1px solid violet;
    width: 100%;
    height: 200px;
    margin: auto;
}

#mainMeun_div{
   zoom: 1;
    background: #40b1f1;
   /*  max-width: 1180px; */
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: 55px;
    top: 255px;
    left: 0;
}

.boardMeun_li{
   list-style:none;
   padding-left:0px;
   float: left;
    width: 16.30%;
    position: relative;
}

#mainImg{
   width: 100%;
    height: 200px;
}

.tab_div1{
   height: 100px;
}
#boardBody_div{
   width: 100%;
    position: relative;
    margin-bottom: 200px;
}

#boardList_div{
    height: 600px;
    margin: auto;
}

.noticeboardList_Table {
   border: 1px solid #fff;
   width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
.noticeboardList_thead_th{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
.noticeboardList_tbody_th{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
.noticeboardList_td{
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

#selectBox_th{
   text-align: right;
}

#menteeboardPagingDiv{
   text-align: center;
   margin: 2px 118px;
}
.noticeboardFloat_right_div{
   float: right;
}

#notice_seq:link    { text-decoration:none; color:#8600E4 }
#notice_seq:visited { text-decoration:none; color:#800080 }
#notice_seq:hover   { text-decoration:underline; color:#FF0000 }
#notice_seq:active  { text-decoration:none; color:#FF0000 }