@charset "UTF-8";

/* 회원가입 타이틀과 간격 */
.member-img-block {
  margin: 40px 40px 0 0;
  padding-bottom: 40px;
  padding-left: 130px;
  padding-right: 70px;
}
/* 사진 동그랗게 */
.member-img-circle img {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: #dbdbdb 0px 0px 0px 2px;
  box-shadow: #dbdbdb 0px 0px 0px 2px;
}
 
