@charset "UTF-8";

/* noticeboardList */
#boardListMain_div{
    width: 100%;
    margin: 0;
    padding: 0;
}

#main_div{
	/* overflow: hidden; */
	
    width: 100%;
    margin: auto;
}

#mainImage_div{
	border: 1px solid violet;
    width: 100%;
    height: 200px;
    margin: auto;
}

#mainMeun_div{
	zoom: 1;
    background: #40b1f1;
   /*  max-width: 1180px; */
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: 55px;
    top: 255px;
    left: 0;
}

.boardMeun_li{
	list-style:none;
	padding-left:0px;
	float: left;
    width: 16.30%;
    position: relative;
}

#mainImg{
	width: 100%;
    height: 200px;
}

.tab_div1{
	height: 100px;
}
#boardBody_div{
	width: 100%;
    position: relative;
    margin-bottom: 200px;
}

#boardList_div{
    height: 600px;
    margin: auto;
}

.noticeboardList_Table {
	border: 1px solid #fff;
	width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
.noticeboardList_thead_th{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
.noticeboardList_tbody_th{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
.noticeboardList_td{
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

#selectBox_th{
	text-align: right;
}

#noticeboardList_pg{
	float: right;
}
.noticeboardFloat_right_div{/* 공통 */
	float: right;
}

#notice_seq:link    { text-decoration:none; color:black; }
#notice_seq:visited { text-decoration:none; color:black }
#notice_seq:hover   { text-decoration:underline; color:#ff2f00 }
#notice_seq:active  { text-decoration:none; color:black }

/* noticeboardList */


/* noticboardWriteForm */
#summernote_div{
	width: 900px;
}

#noticTitle{
	widows: 300px;
}
#noticeboardWriteForm_table{
	width: 100%;
}
table.noticeboardWriteForm_table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
	border: 1px solid #fff;
}
table.noticeboardWriteForm_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.noticeboardWriteForm_table tbody th {
    width: 900px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.noticeboardWriteForm_table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
#noticeContent{
	width: 100%;
    height: 300px;
}
.page-content{		/* ly.css랑 충돌가능성 */
	overflow: inherit;
}
/* noticboardWriteForm */

