@charset "UTF-8";

#orderContainer{
	margin: auto;
}

#order_main {
	box-sizing: border-box;
	color: #000a12;
	display: block;
	font-size: 16px;
	font-weight: 400px;
	line-height: 24px;
	text-rendering: optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.columns {
	box-sizing:border-box;
	color:rgb(0, 10, 18);
	display:flex;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.column.is-8 {
	box-sizing:border-box;
	color:rgb(0, 10, 18);
	display:block;
	flex-basis:auto;
	flex-grow:0;
	flex-shrink:0;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	width: 66.66667%;
	-webkit-box-flex:0;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.box.product_item_list {
	background-color:rgb(255, 255, 255);
	border-bottom-left-radius:3.2px;
	border-bottom-right-radius:3.2px;
	border-top-left-radius:3.2px;
	border-top-right-radius:3.2px;
	box-shadow:rgba(0, 10, 18, 0.1) 0px 2px 3px 0px, rgba(0, 10, 18, 0.1) 0px 0px 0px 1px;
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.product_item_container {
	border-bottom-color:rgb(219, 219, 219);
	border-bottom-style:solid;
	border-bottom-width:1px;
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.columns.is-mobile .product_item {
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:flex;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.column.is-3.thumbnail_container{
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	flex-basis:auto;
	flex-grow:0;
	flex-shrink:0;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	width:162.656px;
	-webkit-box-flex:0;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.image.is_thumbnail {
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	position:relative;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.is_thumbnail img {
    height: 100%;
    width: 100%;
}

.column.content_container {
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:flex;
	flex-basis:0px;
	flex-grow:1;
	flex-shrink:1;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	width:488px;
	-webkit-box-flex:1;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.product_title {
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	padding-right:8px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.product_meta {margin-left:auto;text-align:right;white-space:nowrap}

.product_amount {
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:19.2px;
	font-weight:700;
	line-height:28.8px;
	text-align:center;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	white-space:nowrap;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.is-right.is-grouped-right {
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	text-align:right;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	white-space:nowrap;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.column.is-4 {
	box-sizing:border-box;
	color:rgb(0, 10, 18);
	display:block;
	flex-basis:auto;
	flex-grow:0;
	flex-shrink:0;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	width: 33.33333%;
	-webkit-box-flex:0;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.card.checkout_form {
	background-color:rgb(255, 255, 255);
	border-bottom-left-radius:3.2px;
	border-bottom-right-radius:3.2px;
	border-top-left-radius:3.2px;
	border-top-right-radius:3.2px;
	box-shadow:rgba(0, 10, 18, 0.1) 0px 2px 3px 0px, rgba(0, 10, 18, 0.1) 0px 0px 0px 1px;
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	margin-top:0px;
	max-width:100%;
	position:relative;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.card-content {
	background-color:rgba(0, 0, 0, 0);
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.card-content .total_amount h2 span{
	float:right
}

#order_total_price {
	box-sizing:border-box;
	color:rgb(69, 69, 69);
	display:block;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	text-rendering:optimizelegibility;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}