<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="adminboardSQL">

	<!-- 공지사항 List 가져오기 -->
	<select id="getAdmninnoticeboardList" parameterType="java.util.Map" resultType="adminnoticeboard">
	<![CDATA[select *from 
	(select rownum rn,tt.*from
	(select noticeboard_seq,noticeboard_adminEmail,noticeboard_title,noticeboard_content,noticeboard_hit,to_char(to_date(noticeboard_logtime),'YYYY.MM.DD') noticeboard_logtime 
	from noticeboard order by noticeboard_seq desc) tt) where rn >= #{startNum} and rn<=#{endNum}]]>
	</select>
	
	<!-- 공지사항 글 갯수가져오기 -->
	<select id="getTotalA" resultType="Integer">
		select count(*) cnt from noticeboard
	</select>

	<!-- 공지사항 글삭제 -->
	<delete id="adminnoticeboardDelete" parameterType="java.util.Map">
		delete noticeboard where noticeboard_seq in
		<foreach collection="check" item="noticeboard_seq" index="i" open="("
			close=")" separator=",">
			#{noticeboard_seq}<!-- ${check[i]} 컬렉션만 $먹고 item인 seq는 #과$같이먹는다 -->
		</foreach>
	</delete>
	
	<!-- 공지사항 글 보기 -->
	<select id="adminnoticeboardView" parameterType="int" resultType="adminnoticeboard">
		select *from noticeboard where noticeboard_seq=#{noticeboard_seq}
	</select>
	
	<insert id="adminnoticeboardWrite" parameterType="Map">
		insert into noticeboard(noticeboard_seq,noticeboard_adminEmail,noticeboard_title,noticeboard_content,noticeboard_logtime) values(noticeboard_seq.nextval,'admin@naver.com',#{noticeboard_title},#{noticeboard_content},sysdate)
	</insert>
	
	<update id="noticeboardModify" parameterType="Map">
		update noticeboard set noticeboard_title=#{title}, noticeboard_content=#{content}, noticeboard_logtime=sysdate where noticeboard_seq=#{seq}
	</update>
	<!-- 모임 게시글 목록 -->
	<select id="getMeetingboardList" parameterType="java.util.Map" resultType="meetingboard">
		<![CDATA[
			select * from
			(select rownum rn, tt.* from 
			(select mb.*, mm.member_name, mm.member_profile, mt.mentor_company, mt.mentor_department
			 from meetingboard mb, mentor mt, mentors_member mm
			 where mb.mentor_email = mt.mentor_email and mt.mentor_email = mm.member_email
			 order by meetingboard_seq desc)tt) 
			where rn >= #{startNum} and rn <= #{endNum}	
		]]>
	</select>
	<!-- 전체 모임 게시글 수 -->
  	<select id="getMeetingboardTotalA" resultType="int">
  		select count(*) from meetingboard
  	</select>
  	
  	<!-- 모임 게시글 삭제 -->
  	<!-- <delete id="adminmeetingboardDelete" parameterType="java.util.Map">
  		delete from meetingboard where meetingboard_seq in
  		<foreach collection="check" item="meetingboard_seq" index="i" open="(" close=")" separator=",">
			#{meetingboard_seq}${check[i]} 컬렉션만 $먹고 item인 seq는 #과$같이먹는다
		</foreach>
  	</delete> -->
  	
  	<select id="getNewEssay" resultType="essay">
		SELECT
      		*
  		FROM
      	(
          SELECT
              ROWNUM rn, tt.*
          FROM
              (
              	  SELECT
              	      e.essayboard_seq,
                   	  e.essayboard_title,
                      e.essayboard_content,
                      e.essayboard_scrap,
                      e.essayboard_logtime,
                      mm.member_name,
                      mm.member_seq,
                      mm.member_profile,
                      mt.mentor_company,
                      mt.mentor_department,
                      mt.mentor_flag,
                      mt.mentor_email
                  FROM
                      essayboard       e,
                      mentor           mt,
                      mentors_member   mm
                   WHERE
                          e.mentor_email = mt.mentor_email
                      AND mt.mentor_email = mm.member_email
                      ORDER BY
                      essayboard_logtime DESC
              ) tt)
		WHERE
			 <![CDATA[
	         	rn >= #{startNum, jdbcType=INTEGER} and rn <= #{endNum, jdbcType=INTEGER}
			 ]]>
	</select>
	<!-- 에세이 총글수 -->
	<select id="getessayTotalA" resultType="Int">
		SELECT
			count(*)
		FROM
			essayboard
	</select>
	
	<!-- 멘티게시판 List 가져오기-->
	<select id="getMenteeboardList" parameterType="java.util.Map" resultType="menteeboard">
	select * from(
	select rownum rn , tt.* from(
	select menteeboard_seq,menteeboard_email,m.member_profile,m.member_nickname,menteeboard_title,menteeboard_content, j.job_type, menteeboard_good,menteeboard_ref,menteeboard_lev,menteeboard_step,menteeboard_pseq,menteeboard_reply,menteeboard_hit,menteeboard_logtime
	from menteeboard a, job j, mentors_member m
	where a.job_code = j.job_code and a.menteeboard_email = m.member_email order by menteeboard_seq desc)tt)
	where  rn <![CDATA[>=]]> #{startNum} and rn <![CDATA[<=]]> #{endNum}
	</select>
	<!-- 멘티게시판 총 글수 -->
	<select id="getMenteeTotalA" resultType="Integer">
	select count(*) from menteeboard
	</select>

</mapper>
