<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meetingboardSQL">
	<!-- 모임 게시판 글쓰기 -->
	<insert id="meetingboardWrite" parameterType="meetingboard">
		insert into meetingboard(meetingboard_seq, job_code, meetingboard_title, meetingboard_subtitle, meetingboard_content, meetingboard_day, meetingboard_starthour, meetingboard_endhour, meetingboard_address, meetingboard_buildingname, meetingboard_address_x, meetingboard_address_y, meetingboard_count, meetingboard_host, meetingboard_price, mentor_email)
		values (meetingboard_seq.nextval, #{job_code}, #{meetingboard_title}, #{meetingboard_subtitle}, #{meetingboard_content}, #{meetingboard_day}, #{meetingboard_starthour}, #{meetingboard_endhour}, #{meetingboard_address}, #{meetingboard_buildingname}, #{meetingboard_address_x}, #{meetingboard_address_y}, #{meetingboard_count}, #{meetingboard_host}, #{meetingboard_price}, #{mentor_email})
	</insert>
	
	<!-- 모임 게시글 목록 -->
	<select id="getMeetingboardList" parameterType="java.util.Map" resultType="meetingboard">
		<![CDATA[
			select * from
			(select rownum rn, tt.* from 
			(select mb.*, mm.member_name, mm.member_profile, mt.mentor_company, mt.mentor_department, mm.member_seq
			 from meetingboard mb, mentor mt, mentors_member mm
			 where mb.mentor_email = mt.mentor_email and mt.mentor_email = mm.member_email
			 order by meetingboard_seq desc)tt)
			 where rn >= #{startNum} and rn <= #{endNum}	
		]]>
	</select>
	
	<!-- 모임 게시판 보기 -->
	<select id="getMeetingboard" parameterType="int" resultType="meetingboard">
		select mb.*, mm.member_name, mm.member_profile, mt.mentor_company, mt.mentor_department, mt.mentor_info, mt.mentor_career, mt.mentor_represent, mm.member_seq, mm.member_email
		from meetingboard mb, mentor mt, mentors_member mm 
		where mb.mentor_email = mt.mentor_email and mt.mentor_email = mm.member_email and meetingboard_seq = #{meetingboard_seq}
	</select>
	
	<!-- 전체 모임 게시글 수 -->
  	<select id="getTotalA" resultType="int">
  		select count(*) from meetingboard
  	</select>
  	
  	<!-- 모임 게시글 수정 -->
  	<update id="meetingboardModify" parameterType="meetingboard">
  		update meetingboard set job_code=#{job_code},meetingboard_title=#{meetingboard_title},meetingboard_subtitle=#{meetingboard_subtitle},meetingboard_content=#{meetingboard_content},meetingboard_day=#{meetingboard_day},meetingboard_starthour=#{meetingboard_starthour},meetingboard_endhour=#{meetingboard_endhour},
  								meetingboard_address=#{meetingboard_address},meetingboard_buildingname=#{meetingboard_buildingname},meetingboard_address_x=#{meetingboard_address_x},meetingboard_address_y=#{meetingboard_address_y},meetingboard_count=#{meetingboard_count},meetingboard_host=#{meetingboard_host},meetingboard_price=#{meetingboard_price}
  		where meetingboard_seq=#{meetingboard_seq}
  	</update>
  	
  	<!-- 모임 게시글 삭제 -->
  	<delete id="meetingboardDelete" parameterType="int">
  		delete from meetingboard where meetingboard_seq=#{meetingboard_seq}
  	</delete>
  	
  	<!-- 안내사항 가져오기 -->
  	<select id="getGuideList" resultType="meetingboard.bean.GuideDTO">
  		select * from guide
  	</select>
  	
  	<!-- 모임 후기 작성 -->
  	<insert id="meetingReviewWrite" parameterType="review">
  		insert into meeting_review(review_seq, meetingboard_seq, mentee_email, review_content)
  		values (review_seq.nextval, #{meetingboard_seq},#{mentee_email},#{review_content})
  	</insert>
  	
  	<!-- 모임 후기 가져오기 -->
  	<select id="getMeetingReview" parameterType="int" resultType="review">
  		select * from meeting_review where review_seq=#{review_seq}
  	</select>
  	
  	<!-- 모임 후기 수정 -->
  	<update id="meetingReviewModify" parameterType="review">
  		update meeting_review
  		set review_content = #{review_content}, review_date = sysdate 
  		where review_seq = #{review_seq}
  	</update>
  	
  	<!-- 모임 후기 삭제 -->
  	<delete id="meetingReviewDelete" parameterType="int">
  		delete from meeting_review where review_seq = #{review_seq} 
  	</delete>
</mapper>