<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menteeboardSQL">

	<select id="getMenteeboardList" parameterType="java.util.Map" resultType="menteeboard">
	select * from(
	select rownum rn , tt.* from(
	select menteeboard_seq,menteeboard_profile,menteeboard_nickname,menteeboard_email,menteeboard_title,menteeboard_content, j.job_type, menteeboard_good,menteeboard_ref,menteeboard_lev,menteeboard_step,menteeboard_pseq,menteeboard_reply,menteeboard_hit,menteeboard_logtime
	from menteeboard a, job j
	where a.job_code = j.job_code order by menteeboard_seq desc)tt)
	where  rn <![CDATA[>=]]> #{startNum} and rn <![CDATA[<=]]> #{endNum}
	</select>
	
	<select id="getTotalA" resultType="Integer">
	select count(*) from menteeboard
	</select>
	
	<insert id="menteeboardWrite" parameterType="java.util.Map">
	insert into menteeboard(menteeboard_seq,menteeboard_profile,menteeboard_nickname,menteeboard_email,menteeboard_title,menteeboard_content,job_code,menteeboard_ref) 
			values(menteeboard_seq.nextval
				  ,#{profile}
				  ,#{nickname}
				  ,#{email}
				  ,#{menteeWriteFormSubject}
				  ,#{summernote}
				  ,#{job_code_writeForm}
				  ,menteeboard_seq.currval)
	</insert>
	
	
	<select id="getMenteeboardListJob" parameterType="java.util.Map" resultType="menteeboard">
	select * from (
	select rownum rn , tt.* from
	(select menteeboard_seq,menteeboard_profile,menteeboard_nickname,menteeboard_email,menteeboard_title,menteeboard_content, j.job_type, menteeboard_good,menteeboard_ref,menteeboard_lev,menteeboard_step,menteeboard_pseq,menteeboard_reply,menteeboard_hit,menteeboard_logtime
	from (select * from menteeboard order by menteeboard_seq desc)m, job j
	where m.job_code = #{job_code,jdbcType=VARCHAR} AND m.job_code = j.job_code)tt)
	where rn <![CDATA[>=]]> #{startNum,jdbcType=INTEGER} and rn <![CDATA[<=]]> #{endNum,jdbcType=INTEGER}
	</select>
	
	<select id="getTotalAJob" parameterType="String" resultType="Integer">
	select count(*) from menteeboard where job_code = #{job_code}
	</select>
	
	<select id="getMenteeboard" parameterType="Integer" resultType="menteeboard">
	select * from menteeboard where menteeboard_seq = #{seq}
	</select>
	
	<update id="menteeboardHit" parameterType="Integer">
	update menteeboard set menteeboard_hit=menteeboard_hit+1 where menteeboard_seq=#{seq}
	</update>
	
	<delete id="menteeboardDelete" parameterType="Integer">
	delete from menteeboard where menteeboard_seq=#{seq}
	</delete>
	
	<update id="menteeboardModify" parameterType="java.util.Map">
	update menteeboard set menteeboard_title=#{subject},menteeboard_content=#{content},job_code=#{job_code},menteeboard_logtime=sysdate where menteeboard_seq=#{seq}
	</update>
	
	<delete id="menteeboardLikeDelete" parameterType="menteeboardLike">
	 delete from menteeboardLike where menteeboardLike_mb_seq = #{menteeboardLike_mb_seq} AND menteeboardLike_mb_email = #{menteeboardLike_mb_email}
	</delete>
	<insert id="menteeboardLikeInsert" parameterType="menteeboardLike">
	insert into menteeboardLike (menteeboardLike_mb_seq,menteeboardLike_mb_email) values(#{menteeboardLike_mb_seq},#{menteeboardLike_mb_email})
	</insert>
	<!-- menteeboaerd good 업데이트 -->
	<update id="menteeboardLikeUpdate" parameterType="Integer">
	update menteeboard set menteeboard_good=(select count(*) from menteeboardLike where menteeboardLike_mb_seq = #{seq})
	where menteeboard_seq = #{seq}
	</update>
	
	<select id="menteeboardSelect" parameterType="menteeboardLike" resultType="Integer">
	select count(*) from menteeboardLike where menteeboardLike_mb_seq = #{menteeboardLike_mb_seq} AND menteeboardLike_mb_email = #{menteeboardLike_mb_email}
	</select>
	
</mapper>