.viewWrap{
    display: flex;
    flex-direction: column;    
}
.notice-title{
    width: 50%;
}
.notice-content{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    width: 100%;
}
.notice-btn{
    width: 100%;
}
.notice-title h1{
    font-size: 20px;
}
#noticeTitle{
	font-size: 20px;
	width: 100%;
	height: 50px;
	border: none;
}