.cardWrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card{
	width: 350px;
	height: 300px;
	border: 1px solid rgba(0,0,0,0.2);
	margin-top: 10px;
	border-radius: 4px;
}
.card_head {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	min-height: 44px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.card-content{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-top: 12px;
    font-size: 14px;
    /* line-height: 1.6; */
}
.card-footer{
min-height: 44px;
    padding: 10px 15px;
}
.mentor-image{
	display: inline-block;
    vertical-align: middle;
}
.mentor-info{
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 14px;
    line-height: 1.2;
}
.created-at{
    font-size: 13px;
    color: #6d6d72;
}
small{
	font-size: 80%;
}
.mentor-post-title{
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.4;
}
a:hover{
	text-decoration: none;
	color: #5A738E;
}
.a1{
    height: 80px;
}
.a1-left{
    height: 80px;
    display: flex;
    align-items: center;
}